@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap" rel="stylesheet');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font {
    font-family: "Poppins", sans-serif;
}
.font2 {
    font-family: "Grape Nuts", cursive;
}
.fontDes {
    font-family: "Poppins", sans-serif;

}
body {
    background-color: #fafafa;
}
.fontPara {
    text-decoration: underline;
    color: black;
    font-weight: 600;
}
@keyframes undefined {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(4px);
    }
    100%{
        transform: translateY(0px);
    }
}
body {
    background-color: #F9F9F9;
}
.float_sm {
    animation: undefined 2s infinite;
    animation-delay: .5s;
}
@media (max-width: 768px) {
    .fontPara {
        font-weight: 400;
    }
    
}
.hello {
     aspect-ratio: 4/2;
     mix-blend-mode: color-burn;
     object-fit: contain;
}
